[submodule "of_core_darwin"]
	path = of_core_darwin
	url = ../of_core_darwin.git
[submodule "of_core_cheap"]
	path = of_core_cheap
	url = ../of_core_cheap.git
[submodule "of_core_binheap"]
	path = of_core_binheap
	url = ../of_core_binheap.git
[submodule "of_core"]
	path = of_core
	url = ../of_core.git
[submodule "Unity"]
	path = Unity
	url = ../Unity.git
[submodule "of_core_fs_darwin"]
	path = of_core_fs_darwin
	url = ../of_core_fs_darwin.git
[submodule "of_core_fs_bookmarks"]
	path = of_core_fs_bookmarks
	url = ../of_core_fs_bookmarks.git
[submodule "of_core_fs_linux"]
	path = of_core_fs_linux
	url = ../of_core_fs_linux.git
[submodule "of_core_linux"]
	path = of_core_linux
	url = ../of_core_linux.git
[submodule "of_core_windows"]
	path = of_core_windows
	url = ../of_core_windows.git
[submodule "of_core_fs_windows"]
	path = of_core_fs_windows
	url = ../of_core_fs_windows.git
[submodule "of_core_android"]
	path = of_core_android
	url = ../of_core_android.git
[submodule "of_core_fs_android"]
	path = of_core_fs_android
	url = ../of_core_fs_android.git
[submodule "of_core_jni"]
	path = of_core_jni
	url = ../of_core_jni.git
[submodule "of_smb_jni"]
	path = of_smb_jni
	url = ../of_smb_jni.git
[submodule "of_smb"]
	path = of_smb
	url = ../of_smb.git
[submodule "of_smb_fs"]
	path = of_smb_fs
	url = ../of_smb_fs.git
[submodule "of_smb_client"]
	path = of_smb_client
	url = ../of_smb_client.git
[submodule "of_security"]
	path = of_security
	url = ../of_security.git
[submodule "of_smb_browser"]
	path = of_smb_browser
	url = ../of_smb_browser.git
[submodule "of_smb_server"]
	path = of_smb_server
	url = ../of_smb_server.git
[submodule "of_resolver_fs"]
	path = of_resolver_fs
	url = ../of_resolver_fs.git
[submodule "of_core_fs_pipe"]
	path = of_core_fs_pipe
	url = ../of_core_fs_pipe.git
[submodule "of_netbios"]
	path = of_netbios
	url = ../of_netbios.git
[submodule "smbcp"]
	path = smbcp
	url = ../smbcp.git
